// --wp--preset--color--pale-cyan-blue: #8ed1fc;
// --wp--preset--color--vivid-cyan-blue: #0693e3;
// --wp--preset--color--vivid-purple: #9b51e0;

.sign-form {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;

  main {
    flex: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
